*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif ;
    box-sizing: border-box;
}

button{
    color: white;
    padding: 10px;
    width: 9rem;
    font-size: 1rem;
    font-weight: 600;
    border-color: transparent;
    border-radius: 25px;
}

nav{
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.right-nav{
    float: right;
}

nav li{
    list-style-type: none;
    display: inline-block; 
    
}

.nav, .nav-logo {
    margin: 8px;
    padding: 3px;
}

#logo{
    padding-top: 8px;
    padding-left: 5px;
}

.tuitt-button{
    background-color: #c2195b;
}

.front-bg{
    background-color: rgba(0,0,0,0.6);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#bg-image{
    background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.container{
    text-align: right;
    width: 40%;
    position: relative;
    left: 50%;
}

.title {
    font-family: 'Zilla Slab', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}

.subtitle{
    font-size: 1.3rem;
    font-weight: 300;
    width: 75%;
    margin-left: 9rem;
    margin-top: 2rem;
}

.apply-button{
    margin-top: 2rem;
    background-color: #c2195b;
}

section{
    padding-top: 2rem;
    text-align: center;
}

.title-2{
    font: 'Zilla Slab', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.prefooter-description{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.book-button{
    background-color: #336589;
}

footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
}

footer > span{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
