*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#landingrow{
    padding-top: 300px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #1e1f1e;
    color: #f1f1f1;
    background-image: url(images/tinay2.png);
    background-repeat: no-repeat;
    background-size: 2000px 1000px;

}

#myname :hover{
    background-color: blueviolet;
}

#aboutmeelement{
    height: 115vh;
    background-color: #040005;
}



.grid-container {
  display: flex;
  flex-wrap: wrap; 
}

#aboutmeelement img {
  width: 100%; 
  height: 40%;
}

#mylanguages{
 text-decoration: none;
 list-style-type: none;
 text-align: left;
}

#myabout{
  margin-top: 50px;
}

#intro{
  font-size: 150%;
  margin-top: 70px;
}

.border{
    border-width: 30px;
}

#girlbutton {
    border: 2px solid black;
    background-color: #6919ff;
    color: white;
    border-radius: 20px;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
    border-color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  
  #girlbutton:hover {
    background-color: whitesmoke;
    color: black;
  }


  #hitmeup {
    border: 2px solid black;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    padding: 20px;
    line-height: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-color: white;
  }
  
  
  #hitmeup:hover {
    background-color: whitesmoke;
    color: black;
  }

  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px;
    
  }
  
  .header a {
    float: left;
    color: rgb(5, 0, 0);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 15px;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
   
  }
  
  .header a.logo {
    font-size: 20px;
    font-weight: bold;
    float: left;
  }


.header-right {
    float: right;
    font-size: 20px;
    font-weight: bold;
  }


  .header a:hover {
    background-color: whitesmoke;
    color: #500b61;
    text-decoration: none;
    font-size: 25px;
  }
  
  #projectelement{
    height: 50vh;
    background-color: #500b61;
  }

.carousel-inner{
  height: 30vh;
  width: 30vw
}


#toolsworked{
  background-color: #500b61;
  color: azure;
  padding: auto;

}
#toolselement{
  height: 20vh;
  background-color: #500b61;
  }


#toolselement img{
    max-width: 80px;
    max-height: 80px;
}

.othergroup img {
  width: 80px;
height: 80px;
margin-left: 15px;
margin-right: 15px;
   
}


iframe{
  width:600px;
  height:300px;
  filter: invert(100%)
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 0px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #500b61;
  color: white;
  font-size: 50px;
}

.fa-linkedin {
  background: #500b61;
  color: white;
  font-size: 50px;
}

.fa-instagram {
  background: #500b61;
  color: white;
  font-size: 50px;
}

#my-footer{
  background-color: #500b61;
}