#navMenu{
    padding: 5px;
    text-align: center;
    background-color: gray;
}

.nav-link{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 4vw;
    height: 2.5vh;
    padding: 3px;
    margin: 0.5rem;
}

#landing{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC6oKI9g8gSoUchq_47k362FpxYeHWCxvVzw&usqp=CAU);
    background-position: center;
    text-align: center;
    background-size: cover;
    /* background: no-repeat; */
    color: white;
    height: 50%;
    padding-top: 3rem;
}

h1{
    padding-top: 2px;
    font-size: 3rem;
}

h3{
    margin: 1rem;
}

button{
    padding: 0.8rem;
    background-color: lightsalmon;
    border: 2px solid white;
    border-radius: 2px;
}

#hot{
    
    text-align: center;
}

h4{
    display: inline-block;
    border: 1rem brown;
    list-style-type: none;
}